In [1]:
!pip install Faker

Requirement already satisfied: Faker in c:\users\surjayandutta\anaconda3\envs\synthetic_data\lib\site-packages (29.0.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\surjayandutta\anaconda3\envs\synthetic_data\lib\site-packages (from Faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\surjayandutta\anaconda3\envs\synthetic_data\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [2]:
from faker import Faker
fake = Faker()

In [5]:
print(fake.name())

Mallory Lucas

In [6]:
print(fake.address())

92398 Palmer Canyon
North Joe, NC 00648

In [7]:
for _ in range(5):
    print(fake.name())

Steven Newton
William Maxwell
Jonathan Mckenzie
James Martinez
Troy Valdez

In [8]:
print(fake.address())

063 Aaron Terrace
East Thomashaven, OH 23134

In [9]:
print(fake.email())

mfletcher@example.com

In [20]:
from faker import Faker
import pandas as pd
import random

In [19]:
!pip install gender-guesser

Collecting gender-guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl.metadata (3.0 kB)
Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0

In [21]:
import gender_guesser.detector as gender

fake = Faker()
gender_detector = gender.Detector()

In [27]:
# Function to generate gender-consistent names
def get_gender_consistent_name(gender_code):
    while True:
        if gender_code == 'M':
            first_name = fake.first_name_male()
        else:
            first_name = fake.first_name_female()
        
        # Guess gender by name using gender-guesser
        guessed_gender = gender_detector.get_gender(first_name)
        
        # Check if the gender matches the code ('male' for 'M' and 'female' for 'F')
        if (gender_code == 'M' and guessed_gender in ['male', 'mostly_male']) or \
           (gender_code == 'F' and guessed_gender in ['female', 'mostly_female']):
            break

    return first_name

In [26]:
# Function to generate a 10-digit US phone number
def generate_us_phone_number():
    # US phone number: (XXX) XXX-XXXX format
    area_code = random.randint(200, 999)  # Valid area codes usually between 200-999
    central_office_code = random.randint(200, 999)  # First digit can't be 0 or 1
    line_number = random.randint(1000, 9999)  # The last 4 digits
    return f"({area_code}) {central_office_code}-{line_number}"

In [35]:
# Function to generate a more realistic email address
def generate_email(first_name, last_name):
    domains = ['gmail.com', 'yahoo.com', 'hotmail.com', 'outlook.com']
    domain = random.choice(domains)
    
    # Create different variations of email using first name and last name
    email_variations = [
        f"{first_name.lower()}.{last_name.lower()}@{domain}",
        f"{first_name[0].lower()}{last_name.lower()}@{domain}",
        f"{first_name.lower()}{last_name[0].lower()}@{domain}",
        f"{first_name.lower()}{random.randint(1, 99)}@{domain}",
        f"{first_name.lower()}_{last_name.lower()}@{domain}",
    ]
    
    return random.choice(email_variations)

In [58]:
# Function to generate synthetic member data
def generate_synthetic_data(num_rows):
    data = []
    
    # Keep track of unique values for certain columns
    member_ids = set()
    group_ids = set()
    benefit_ids = set()
    phone_numbers = set()
    emails = set()
    
    for _ in range(num_rows):
        # Generate unique Member ID
        while True:
            member_id = random.randint(100000000, 999999999)
            if member_id not in member_ids:
                member_ids.add(member_id)
                break
        
        # Generate unique Group ID related to Member ID
        while True:
            group_id = f"{member_id}GP"
            if group_id not in group_ids:
                group_ids.add(group_id)
                break

        # Generate unique Benefit ID
        while True:
            benefit_id = random.randint(100000, 999999)
            if benefit_id not in benefit_ids:
                benefit_ids.add(benefit_id)
                break

        # Generate Gender and ensure it's consistent with the name
        gender_code = random.choice(['M', 'F'])
        first_name = get_gender_consistent_name(gender_code)
        last_name = fake.last_name()

        # Ensure age is below 80 and above 0
        birth_date = fake.date_of_birth(minimum_age=0, maximum_age=80)
        
        # Ensure unique 10-digit US phone number
        while True:
            phone_number = generate_us_phone_number()
            if phone_number not in phone_numbers:
                phone_numbers.add(phone_number)
                break

        #Generate a realistic emails
        while True:
            email = generate_email(first_name, last_name)
            if email not in emails:
                emails.add(email)
                break
        
        # Financials
        deductible_max = round(random.uniform(100, 1000), 2)
        accumulated_deductible = round(random.uniform(0, deductible_max), 2)

        oop_max = round(random.uniform(1000, 5000), 2)
        accumulated_oop = round(random.uniform(0, oop_max), 2)
        
        # Append row to the data
        data.append({
            'Member_Id': member_id,
            'Member_Dep_Num': random.randint(1, 100),
            'Member_First_Name': first_name,
            'Member_Last_Name': last_name,
            'Member_Middle_Initial': fake.random_letter().upper(),
            'Group_ID': group_id,
            'Member_Address_Text': fake.street_address(),
            'Member_City_Name': fake.city(),
            'Member_County_Name': fake.city(),
            'State_CD': fake.state_abbr(),
            'State_Name': fake.state(),
            'Member_Zip_Code': fake.zipcode(),
            'Member_email_id': email,
            'Member_phone_Number': phone_number,
            'Gender_Code': gender_code,
            'Member_Birth_Date': birth_date.strftime("%Y-%m-%d"),
            'Member_benefit_Id': benefit_id,
            'Member_Benefit_Name': f'member_benefit_name_{member_id}',
            'Deductible_Max': deductible_max,
            'OOP_Max': oop_max,
            'Accumulated_Deductable': accumulated_deductible,
            'Accumulated_OOP': accumulated_oop
        })

    # Convert list to DataFrame
    df = pd.DataFrame(data)
    return df

In [60]:
num_rows = int(input("Enter the number of rows to generate: "))
generate_synthetic_data(num_rows)

Enter the number of rows to generate:  5

,Member_Id,Member_Dep_Num,Member_First_Name,Member_Last_Name,Member_Middle_Initial,Group_ID,Member_Address_Text,Member_City_Name,Member_County_Name,State_CD,...,Member_email_id,Member_phone_Number,Gender_Code,Member_Birth_Date,Member_benefit_Id,Member_Benefit_Name,Deductible_Max,OOP_Max,Accumulated_Deductable,Accumulated_OOP
0,905545360,49,Glenn,Nelson,H,905545360GP,9090 Lucas Plaza,South Kimberly,South Taylor,CA,...,glenn_nelson@hotmail.com,(541) 852-5211,M,1970-09-24,892124,member_benefit_name_905545360,428.93,3163.62,372.86,651.39
1,935904860,41,James,Martin,Z,935904860GP,38827 Jonathan Causeway,West Richardborough,Nixonstad,NH,...,jmartin@outlook.com,(217) 684-3646,M,2019-03-18,301963,member_benefit_name_935904860,371.36,4556.75,303.27,2407.36
2,543493589,28,Jason,Lopez,E,543493589GP,646 Henry Tunnel,Johnmouth,Lake Nancyhaven,KY,...,jasonl@yahoo.com,(671) 648-2400,M,1956-01-10,448677,member_benefit_name_543493589,539.17,4747.45,59.73,1497.43
3,406870381,16,Cindy,Lawson,Z,406870381GP,07478 Peters Roads,Port Christopherburgh,Jasminefurt,VA,...,cindy.lawson@hotmail.com,(287) 705-8648,F,2024-03-14,302353,member_benefit_name_406870381,898.31,4858.41,881.72,3618.37
4,213095044,49,Barbara,Davis,A,213095044GP,09993 Richard Pine Apt. 406,West Sarah,Lake Katie,PR,...,bdavis@yahoo.com,(831) 842-1244,F,1990-06-27,520995,member_benefit_name_213095044,180.32,3733.37,16.21,3410.94